<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.sinaimg.cn/dy/slidenews/4_img/2014_50/704_1502764_565883.jpg</string>
	<string>http://news.xinhuanet.com/ent/2014-12/12/127295416_14182760934211n.jpg</string>
	<string>http://www.sinaimg.cn/dy/slidenews/4_img/2014_50/704_1502765_436666.jpg</string>
</array>
</plist>
